/* _sidewidget.scss Document */
.sideWidget{
}
.sideWidget li{
	list-style: none;
	margin-left:10px;
}
.sideWidget li a{}

.widget_categories a{
	display: block;
	width:280px;
	height:60px;
	margin-bottom:5px;
	padding:5px;
	text-decoration: none;
	background-color: rgba(246,246,246,1);
}
