/* _tile.scss Document */


$excelcolor:rgb(31, 105, 62);
$wordcolor:rgb(37, 76, 142);
$pptcolor:rgb(209, 77, 51);
.c-tile{
	color:white;
	font-weight: bold;
	margin-right: 5px;
}
.c-breadcrumb-item.c-tile__xlsx,.c-tile__xlsx{
	background-color: $excelcolor;
}
.c-breadcrumb-item.c-tile__docx,.c-tile__docx{
	background-color: rgb(37, 76, 142);
}
.c-breadcrumb-item.c-tile__pptx,.c-tile__outlook{
	background-color:  rgb(32, 103, 177);
}
.c-breadcrumb-item.c-tile__pptx,.c-tile__pc{
	background-color:  rgb(234, 157, 28);
}
.c-breadcrumb-item.c-tile__pptx,.c-tile__pptx{
	background-color:  rgb(209, 77, 51);
}
.c-breadcrumb-item.c-tile__pptx,.c-tile__etc{
	background-color:  rgb(234, 141, 28);
}


